<p>
  <strong>Nome:</strong>
  <%= @mentora.nome %>
</p>
<p>
  <strong>Contato:</strong>
  <%= @mentora.contato %>
</p>
<p>
  <strong>Habilidades:</strong>
  <%= @mentora.habilidades %>
</p>

<%= link_to 'Back', mentoras_path %>
